body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.first-section{
    background-image: url(images/donation6.jpg);
    height: 400px;
    background-size: 100% 100%;
}
.first-section-part{
    text-align: center;
    color: white;
    padding-top: 8%;
}
.first-head{
    font-size: 30px;
    font-weight: 900;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    border-radius: 10px;
    
}
.second-section{
    margin: 10%;
    text-align: center;
}
.section-two-part-two{
    display: flex;
}
.part-two-box{
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    color: gray;
}
#box-color{
    border: 2px solid red;
    background-color:darkseagreen;
    color: blueviolet;
}
.section-three-part-one{
    text-align: center;
    margin: 5%;
}
.section-three-part-two{
    display: flex;
}
.part-two-plan{
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}
.color-one{
    background-color: darkgrey;
}
.color-two{
    background-color: bisque;
}
.color-three{
    background-color: darkseagreen
}
.second-head{
    font-size: 20px;
    font-weight: 900;
}